.sectionTwo{
    margin:10px auto;
    background-color: rgba(0, 70, 200, 0.9);
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
    color:rgba(255,255,255,0.9);
    letter-spacing: 0.2vh;
    font-family: 'Roboto', sans-serif;
  }

#sH2{
    font-size: 3.5vh;
    border-bottom: 1px solid rgba(255,255,255,0.9);
    width: 20%;
    margin:auto;
    padding-bottom: 2vh;
}

.text-box{
    width:30%;
    margin:2vh auto;
}

.sText{
    text-align: left;
    margin-top:0.5vh;
    font-size:1.8vh;
}